<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Config page</title>
  <link rel="stylesheet" href="/css/adminstyle.css" />
</head>

<body>
  <h1 class="name_table center">Admin input information</h1>
  <div id="input_table">
    <form id="admin_form" name="admin_form" action="/admin/saveconfig" method="POST">
      <!-- Thông tin chung -->
      <div class="detail-info row">
        <div class="column">
          <h3>Information Common</h3>
          <div class="input-container">
            <label for="name_company">Company name</label>
            <input type="text" name="name_company" id="name_company" value="<%= config.name_company %>" />
          </div>
          <div class="input-container">
            <label for="name_display">Table display name</label>
            <input type="text" name="name_display" id="name_display" value="<%= config.name_display %>" />
          </div>
          <div class="input-container">
            <label for="nums_parameter">Number of Parameter</label>
            <input type="text" name="nums_parameter" id="nums_parameter" value="-" readonly />
          </div>
          <div class="input-container">
            <label for="nums_table">Number of tables</label>
            <input type="text" name="nums_table" id="nums_table" value="<%= config.num_tables %>" readonly />
          </div>
        </div>

        <div class="column">
          <h3>Method Read File</h3>
          <div class="input-container"></div>
          <div class="input-container">
            <label for="method_read">
              <p>On - Read Local</p>
              <p>Off - Read FTP Server</p>
            </label>

            <input type="checkbox" name="method_read" id="method_read" />
          </div>
          <div class="input-container">
            <label for="dir_readFile">Data directory local</label>
            <input type="text" name="dir_readFile" id="dir_readFile" value="<%= config.dir_readFile %>" />
          </div>
          <div class="input-container">
            <label for="remote_dir">Data directory FTP Server</label>
            <input type="text" name="remote_dir" id="remote_dir" value="<%= config.remote_dir %>" />
          </div>
          <div class="input-container">
            <label for="FTPSERVER">FTP SERVER Address</label>
            <input type="text" name="FTPSERVER" id="FTPSERVER" value="<%= config.ftp_server %>" />
          </div>
          <div class="input-container">
            <label for="userName">User name</label>
            <input type="text" name="userName" id="userName" value="<%= config.user %>" />
          </div>
          <div class="input-container">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" value="<%= config.password %>" />
          </div>
          <div class="input-container">
            <label for="port">Port</label>
            <input type="text" name="port" id="port" value="<%= config.port %>" />
          </div>
        </div>
      </div>

      <!-- Thông tin cho từng bảng-->
      <div class="detail-info row">
        <!-- Thông tin bảng 1 -->
        <div class="column">
          <h3>Information Table 1</h3>
          <div class="form-control column">
            <!--  Tên bảng 1  -->
            <div class="input-container">
              <label for="name_table1">Table 1 name</label>
              <input type="text" name="name_table1" id="name_table1" value="<%= config.infor_table_1.nameTable %>" />
            </div>

            <div class="input-container">
              <label for="name_folder_1">Folder name Station 1</label>
              <input type="text" name="name_folder_1" id="name_folder_1" value="<%= config.names_folder_table1[0] %>" />
            </div>
            <div class="input-container">
              <label for="name_folder_2">Folder name Station 2</label>
              <input type="text" name="name_folder_2" id="name_folder_2" value="<%= config.names_folder_table1[1] %>" />
            </div>
            <div class="input-container">
              <label for="name_folder_3">Folder name Station 3</label>
              <input type="text" name="name_folder_3" id="name_folder_3" value="<%= config.names_folder_table1[2] %>" />
            </div>
            <div class="input-container">
              <label for="name_station_1">Name staion 1</label>
              <input type="text" name="name_station_1" id="name_station_1"
                value="<%= config.infor_table_1.name_station_1 %>" />
            </div>
            <div class="input-container">
              <label for="name_station_2">Name staion 2</label>
              <input type="text" name="name_station_2" id="name_station_2"
                value="<%= config.infor_table_1.name_station_2 %>" />
            </div>
            <div class="input-container">
              <label for="name_station_3">Name staion 3</label>
              <input type="text" name="name_station_3" id="name_station_3"
                value="<%= config.infor_table_1.name_station_3 %>" />
            </div>
          </div>
          <div class="form-control column">
            <div class="input-container">
              <label for="table1_para_1">Parameter 1</label>
              <input type="text" name="table1_para_1" id="table1_para_1"
                value="<%= config.infor_table_1.name_parameter[0] %>" />
            </div>
            <div class="input-container">
              <label for="table1_para_2">Parameter 2</label>
              <input type="text" name="table1_para_2" id="table1_para_2"
                value="<%= config.infor_table_1.name_parameter[1] %>" />
            </div>
            <div class="input-container">
              <label for="table1_para_3">Parameter 3</label>
              <input type="text" name="table1_para_3" id="table1_para_3"
                value="<%= config.infor_table_1.name_parameter[2] %>" />
            </div>
            <div class="input-container">
              <label for="table1_para_4">Parameter 4</label>
              <input type="text" name="table1_para_3" id="table1_para_4"
                value="<%= config.infor_table_1.name_parameter[3] %>" />
            </div>
            <div class="input-container">
              <label for="table1_para_5">Parameter 5</label>
              <input type="text" name="table1_para_4" id="table1_para_5"
                value="<%= config.infor_table_1.name_parameter[4] %>" />
            </div>
            <div class="input-container">
              <label for="table1_para_6">Parameter 6</label>
              <input type="text" name="table1_para_5" id="table1_para_6"
                value="<%= config.infor_table_1.name_parameter[5] %>" />
            </div>
            <div class="input-container">
              <label for="table1_para_7">Parameter 7</label>
              <input type="text" name="table1_para_6" id="table1_para_7"
                value="<%= config.infor_table_1.name_parameter[6] %>" />
            </div>
          </div>
        </div>

        <!-- Thông tin bảng 2 -->
        <div class="column">
          <h3>Information Table 2</h3>
          <div class="form-control column">
            <div class="input-container">
              <label for="name_table2">Table 2 name</label>
              <input type="text" name="name_table2" id="name_table2" value="<%= config.infor_table_2.nameTable %>" />
            </div>
            <div class="input-container">
              <label for="name_folder_4">Folder name Station 4</label>
              <input type="text" name="name_folder_4" id="name_folder_4"
                value="<%= config.names_folder_table2[0] %>" />
            </div>
            <div class="input-container">
              <label for="name_folder_5">Folder name Station 5</label>
              <input type="text" name="name_folder_5" id="name_folder_5"
                value="<%= config.names_folder_table2[1] %>" />
            </div>
            <div class="input-container">
              <label for="name_station_4">Name staion 4</label>
              <input type="text" name="name_station_4" id="name_station_4"
                value="<%= config.infor_table_2.name_station_1 %>" />
            </div>
            <div class="input-container">
              <label for="name_station_5">Name staion 5</label>
              <input type="text" name="name_station_5" id="name_station_5"
                value="<%= config.infor_table_2.name_station_2 %>" />
            </div>
          </div>
          <div class="form-control column">
            <div class="input-container">
              <label for="table2_para_1">Parameter 1</label>
              <input type="text" name="table2_para_1" id="table2_para_1"
                value="<%= config.infor_table_2.name_parameter[0] %>" />
            </div>
            <div class="input-container">
              <label for="table2_para_2">Parameter 2</label>
              <input type="text" name="table2_para_2" id="table2_para_2"
                value="<%= config.infor_table_2.name_parameter[1] %>" />
            </div>
            <div class="input-container">
              <label for="table2_para_3">Parameter 3</label>
              <input type="text" name="table2_para_3" id="table2_para_3"
                value="<%= config.infor_table_2.name_parameter[2] %>" />
            </div>
            <div class="input-container">
              <label for="table2_para_4">Parameter 4</label>
              <input type="text" name="table2_para_3" id="table2_para_4"
                value="<%= config.infor_table_2.name_parameter[3] %>" />
            </div>
            <div class="input-container">
              <label for="table2_para_5">Parameter 5</label>
              <input type="text" name="table2_para_4" id="table2_para_5"
                value="<%= config.infor_table_2.name_parameter[4] %>" />
            </div>
            <div class="input-container">
              <label for="table2_para_6">Parameter 6</label>
              <input type="text" name="table2_para_5" id="table2_para_6"
                value="<%= config.infor_table_2.name_parameter[5] %>" />
            </div>
            <div class="input-container">
              <label for="table2_para_7">Parameter 7</label>
              <input type="text" name="table2_para_6" id="table2_para_7"
                value="<%= config.infor_table_2.name_parameter[6] %>" />
            </div>
          </div>
        </div>
      </div>

      <!-- Submit form -->
      <button class="btn row" type="submit">Save Config</button>
    </form>
  </div>
  <script src="adminhandler.js"></script>
</body>

</html>